@import "bower_components/ionicons/less/ionicons.less";

@footer-height: 100px;

@large: 1260px;
@medium: 960px;
@small: 640px;
@tiny: 320px;

html, body {
    height: 100%;
    min-height: 600px;
    background: #f0f0f0;
}
img {
    border-radius: 3px;
    vertical-align: middle;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footer-height;
    padding-bottom: @footer-height;
    overflow: auto;
}
.push, footer {
    height: @footer-height;
    margin-top: 0;
}
footer {
    background: #1B1C1F;
    border: 0;

    a, a:hover {
        color: white;
    }
}
footer * {
    line-height: inherit;
}
.top-menu {
    background: #1a1a1a;
}

.ember-view {
    height: 100%;
}

.sub-logo {
    color: #EEE;
}

#topbar {
    background: #1A1A1A;

    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

// http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


// Vendor overrides:

.ink-alert.basic.error {
    color: white;
}

.ion {
    margin-right: 4px;
}

// Page-specific:

// Index
.index {
    h1 {
        color: white;
    }

    .wrap {
        background: url(/assets/images/pattern.gif);
        text-align: center;
    }

    .ink-button {
        font-size: larger;
    }
}

@sub-indent: 48px + 6px;

.event {
    padding-top: 2em;
    padding-left: 1em;
    border-left: 3px solid transparent;
    position: relative;

    &::before {
        .ion();
        position: absolute;
        top: -3px;
        left: -1em;
        background: #FFF;
        border-radius: 50%;
        padding: 6px 8px;
        border: 2px solid transparent;
    }

    &.is-repeated-action {
        padding-top: .2em;

        &&::before {
            content: none;
        }
    }

    &.PushEvent {
        border-left-color: green;

        &::before {
            content: @ionicon-var-merge;
            border-color: green;
        }
    }
    &.CreateEvent {
        border-left-color: blue;

        &::before {
            content: @ionicon-var-arrow-graph-up-right;
            border-color: blue;
        }
    }
    &.WatchEvent {
        border-left-color: yellow;

        &::before {
            content: @ionicon-var-code-working;
            border-color: yellow;
        }
    }
    &.ForkEvent {
        border-left-color: red;

        &::before {
            content: @ionicon-var-fork-repo;
            border-color: red;
        }
    }

    .meta {
        font-size: smaller;
        margin-top: .7em;
        margin-left: @sub-indent;
    }

    .heading {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: sticky;
      top: 15px;
    }

}

.summary {
    background: #DDD;
    border-radius: 3px;
    margin-left: @sub-indent;
    padding: 1em;
}

.user-avatar {
    height: 48px;
    width: 48px;
    margin-right: 6px;
}


img.emoji {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.user-profile {
    padding-bottom: 2em;
    border-bottom: 1px solid #CCC;

    img {
        @media screen and (max-width: @large) {
            height: 80px;
            width: 80px;
        }
    }
    h1 {
        @media screen and (max-width: @tiny) {
            font-size: 1.6em;
        }
    }
}