<div class="ink-grid vertical-space">
  <h1><i class='ion-star' role='presentation' aria-hidden='true'></i> Starred Projects</h1>

  {{#each}}
  <div class="repo">
    <img {{bind-attr src="owner.avatarUrl"}} height="48" width="48" alt="" />
    <a {{bind-attr href="htmlUrl"}}>{{highlight-repo fullName}}</a>

    <div class="summary">
      {{emoji-message description}}
    </div>
  </div>
  {{/each}}
</div>
