<div class="push" role="presentation"></div>

<div class="ink-grid vertical-space">
    <h1>Keep up-to-date on the projects and people you care about.</h1>

    <p>Stay informed about code changes in repos you've starred or written by people you follow.</p>
</div>

<div class="push" role="presentation"></div>

<div class="ink-grid vertical-space">
  {{#unless session.isAuthenticated}}
    {{#if error}}
    <div class="ink-alert basic error" role="alert">{{error}}</div>
    {{/if}}

    <a href="#" {{action 'logIn'}} class="ink-button black">
      <i class="ion-social-github ion" role="presentation" aria-hidden="true"></i>
      {{#if session.isWorking}}
      Logging in...
      {{else}}
      Log In with GitHub
      {{/if}}
    </a>
  {{/unless}}
</div>
