<span class="user">
  <a {{bind-attr href="userUrl"}}>
    <img class="user-avatar" {{bind-attr src="avatar_url"}} height="48" width="48" />
  </a>

  <a {{bind-attr href="userUrl"}}>
    {{login}}
  </a>
</span>
